{% extends "base.html" %}
{% block content %}
<div style="padding-top: 100px;"></div>
<p>
    This project was made by me as a final year Minor project showing how computer vision can be used to help us workout
</p>
<p>
    Calculating the angles between different joints it is able to count the number of repetitions done
</p>
<p>Click the button below to start working out</p>
<div style="padding-bottom: 100px;" class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button"><a style="text-decoration: none; color: #000;" class="button is-info" href="/video">Exercise</a></button>
</div>

{% endblock %}